
sdfasdf
<div id="header">Header</div>
<div id="timeline_container" style="width:100%; height:50px; position:absolute; background-color:#ccc;"> </div>
<script>
tl_container = document.getElementById("timeline_container")
timeline_map = {
    "snare": null,
    "kick": null,
    "hihat": null,
}
ks = Object.keys(timeline_map)
for (i in ks) {
    key = ks[i]
    console.log(key)
    v = create_timeline(key)
    timeline_map[key] = v
}

function create_timeline(key){
    // create div and put a return a description of div
    tl = document.createElement("div")
    console.log("Created timeline!")
    tl_container.append(tl)
    tl.style.border = "2px solid #aaa"
    tl.style.width = "100%"
    tl.style.height = "50px"
    tl.style.position = "relative"
    tl.style.backgroundColor = "#ccc"
    tl.addEventListener('click', timeline_clicked, true);
    tl.instrument = key
    for (let i = 0; i < 16; i++){
        new_div = document.createElement('div')
        new_div.style.background = "blue"
        new_div.style.position = "absolute"
        new_div.style.width = "2px"
        new_div.style.height = "100%"
        str = 100/i
        new_div.style.left = 100*i/16 + "%"
        tl.append(new_div)
    }
    tl_obj = {
        div: tl,
        added: [],
        instrument: key, 
        rect: tl.getBoundingClientRect()
    } 
    console.log(tl_obj)
    return tl_obj
}

clear_button = document.createElement('button')
clear_button.onclick = function(){clear_all()}
clear_button.innerHTML = "Clear Button"
document.getElementById("header").append(clear_button)

function clear_all(){
    post_request(0,0,"clear_all")
    for (key in timeline_map){
        drums_added = timeline_map[key]['added']
        for (ii in drums_added){
            drums_added[ii].remove()
        }
        drums_added = []
    }
}

function timeline_clicked(e) {
    key = e.target.instrument
    tl = timeline_map[key]
    drums_added = tl.added
    tl_div = tl.div
    tl_rect = tl.rect
    var cursorX = e.pageX;
    x_origin = tl_rect.x
    width = tl_rect.width

    x_perc = (cursorX - x_origin) / width

    // check if click is too close to existing drums
    for (i in drums_added){
        div_x_perc = drums_added[i].x_perc
        low_limit = div_x_perc - .01
        high_limit = div_x_perc + .01
        if (x_perc > low_limit && x_perc < high_limit){
            console.log("TOO CLOSE")
            drums_added[i].remove()
            drums_added.splice(i,1)
            post_request(key, div_x_perc, "remove")
            return
        }
    }

    let new_div = document.createElement("div")
    drums_added.push(new_div)
    new_div.style.background = "green"
    new_div.style.position = "absolute"
    new_div.style.width = "4px"
    new_div.style.height = "100%"
    new_div.x_perc = x_perc
    new_div.style.left = x_perc *100 + "%"
    console.log(new_div.style.left)
    new_div.style.cursor = "pointer"
    new_div.addEventListener('click', drum_indicator_clicked, true);
    tl_div.append(new_div)
    console.log(new_div)
    post_request(key, x_perc, "add")
    return
}

function post_request(instrument, x, action){
    fetch('http://127.0.0.1:5000/request', {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 
        "instrument": instrument,
        "x": x,
        "action": action
        })
    })
    .then(response => response.json())
    .then(response => console.log(JSON.stringify(response)))
}

function drum_indicator_clicked(e){
    console.log(e.target.style.left)
}
    
//document.getElementById("timeline").innerHTML = 'test';
</script>
