
sdfasdf
<div id="timeline" style="width:100%; height:50px; position:absolute; background-color:#ccc;"> </div>
<script>

tl = document.getElementById("timeline")
for (let i = 0; i < 16; i++){
    new_div = document.createElement('div')
    new_div.style.background = "blue"
    new_div.style.position = "absolute"
    new_div.style.width = "2px"
    new_div.style.height = "100%"
    new_div.style.left = "200px"
    str = 100/i
    new_div.style.left = 100*i/16 + "%"
    tl.append(new_div)

}
tl_rect = tl.getBoundingClientRect()
console.log(tl_rect)
tl.addEventListener('click', printMousePos, true);

function printMousePos(e) {
    var cursorX = e.pageX;
    var cursorY = e.pageY;
    x_origin = tl_rect.x
    y_origin = tl_rect.y
    width = tl_rect.width
    height = tl_rect.height

    x_perc = (cursorX - x_origin) / width
    console.log(x_perc)
    y_perc = (cursorY - y_origin) / height
    new_div = document.createElement("div")
    new_div.style.background = "green"
    new_div.style.position = "absolute"
    new_div.style.width = "2px"
    new_div.style.height = "100%"
    new_div.style.left = x_perc *100 + "%"
    tl.append(new_div)
    console.log('added')
    fetch('http://127.0.0.1:5000/request', {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ 
        "type": "snare",
        "x": x_perc,
        })
    })
    .then(response => response.json())
    .then(response => console.log(JSON.stringify(response)))
    
}
//document.getElementById("timeline").innerHTML = 'test';
</script>
